@model Face_Recognition.Models.Lesson
@{
    ViewData["Title"] = "Record";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Chameleon Admin is a modern Bootstrap 4 webapp &amp; admin dashboard html template with a large number of components, elegant design, clean and organized code.">
    <meta name="keywords" content="admin template, Chameleon admin template, dashboard template, gradient admin template, responsive admin template, webapp, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="ThemeSelect">
    <link rel="apple-touch-icon" href="~/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
    <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="~/css/app-lite.css">
    <link rel="stylesheet" type="text/css" href="~/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/record.css" />
</head>
<body>
    <div class="app-content content">
        <div class="content-wrapper">
                <!-- Bar charts section start -->
                <section id="chartjs-bar-charts">
                    <!-- Column Chart -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-content collapse show">
                                        <div class="card-body">
                                            <div class="height-450">
                                                <div class="container center">
                                                    <table style="position:center">
                                                        <tr>
                                                            <td align="center" style="position:center">
                                                                <div id="my_camera"></div>
                                                            </td>
                                                            <td align="center" style="position:center">
                                                                <div id="results"></div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <table>
                                                        <form id="register_form" asp-action="Record" asp-controller="Dashboard" method="post" onsubmit="event.preventDefault()">
                                                         <td align="center">
                                                                <label><b>School Number </b></label>
                                                                <input type="text" placeholder="1234" class="text-center" name="id">
                                                                <label><b>Name</b></label>
                                                                <input type="text" placeholder="Harry" class="text-center" name="names">
                                                                <label><b>Surname</b></label>
                                                                <input type="text" placeholder="Potter" class="text-center" name="surname">
                                                                <td align="center"> 
                                                                    <label><b>Lesson</b></label>
                                                                    @Html.DropDownListFor(m => m.Name, (List<SelectListItem>)ViewBag.Lessons, new { @class="form-control" })
                                                                    <input type="submit" onclick="take_snapshot()" value="Take Snapshot" />
                                                                </td>
                                                                
                                                         </td>
                                                         
                                                        </form>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <script src="~/js/webcam.min.js"></script>
    <script language="JavaScript">
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera'); //? webcam eklemek için gerekli komut
    </script>
    <script language="JavaScript">
        function dataURItoBlob(dataURI) {
            // convert base64 to raw binary data held in a string
            // doesn't handle URLEncoded DataURIs - see SO answer #6850276 for code that does this
            var byteString = atob(dataURI.split(',')[1]);

            // separate out the mime component
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

            // write the bytes of the string to an ArrayBuffer
            var ab = new ArrayBuffer(byteString.length);
            var ia = new Uint8Array(ab);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }

            return new Blob([ab], { type: mimeString });
        }

        function take_snapshot() {
            //Fotoğraf çekim aşaması
            Webcam.snap(function (data_uri) {
                document.getElementById('results').innerHTML = '<img src = "' + data_uri + '" / > ';

                var image_fmt = '';
                if (data_uri.match(/^data\:image\/(\w+)/))
                    image_fmt = RegExp.$1;
                else
                    throw "Cannot locate image format in Data URI";


                var form = document.getElementById('register_form');
                var formData = new FormData(form);

                formData.append('picture', dataURItoBlob(data_uri), 'Webcam.' + image_fmt.replace(/e/, ''));

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/Dashboard/Record', true);
                xhr.send(formData);

                /*Webcam.upload(data_uri, 'Camera/Capture', function (code, text) {
                    alert('Photo Captured'); //Controller ı işin içine dahil ediyor.
                });*/
            });
            // data_uri = belgenin konumu
            // src = görüntü adresi
        }
    </script>
</body>
</html>
