<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Face Recognition</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link href="~/css/site.css" rel="stylesheet" media="screen" />>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form asp-action="FPassword" asp-controller="Home" enctype="multipart/form-data" method="post">

        <label for="email">Email</label>
        <input type="text" id="email" name="email">

        <button>Send</button>
        <p style="color:white">@ViewBag.message</p>
        <p style="text-decoration:none">
            <a href="/Home/Index">Back</a>
        </p>
        
    </form>
</body>
</html>